/* nav{
  height: 10vh;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link{
  color: white;
  margin: 1rem;
  text-decoration: none;
  transition: all .3s;
}

.nav_link:hover{
  color: brown;
}

nav .active{
  color: yellow;
}

section{
  display: grid;
  grid-gap: 1rem;
}

article{
  background-color: aliceblue;
}

@media screen  and (min-width:600px) {
  section{
    grid-template-columns: auto auto;
  }
}

@media screen  and (min-width:992px) {
  section{
    grid-template-columns: auto auto auto;
  }
} */

.App{
  text-align: center;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
  margin: 1rem;
  padding: 1rem;
  background-color: black;
  color: white;
}

.btn{
  margin: 10px;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover{
  background-color: tomato;
  color: aliceblue;
}

input{
  margin: 0.5rem;
  padding: 0.5rem;
  width: 20rem;
}

section{
  display: grid;
}

@media screen and (min-width: 600px) {
  section{
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 768px) {
  section{
    grid-template-columns: auto auto auto ;
  }
}

@media screen and (min-width: 922px) {
  section{
    grid-template-columns: auto auto auto auto ;
  }
}